*{
	margin: 0%;
}
.navbar{
	padding: 2%;
}
.navbar a{
	color: black;
	text-decoration: none;
	font-size: 17px;
	margin-right: 2%;
}
.navbar img{
	vertical-align: middle;
}
.logo{
	margin: 0% 6% 0% 4% !important;
}
#signin{
	color: white;
	margin-left: 12%;
	padding: 0.7%;
	border-radius: 25px;
	background-color: skyblue;
	text-align: center;
}
#signin:hover{
	background-color: darkblue;
}
.text{
	background-color: rgba(239, 239, 239, 0.8);
	padding: 1%;
}
.sec2{
	display: flex;
	justify-content: space-between;
	font-family: 'Poppins', sans-serif;
	margin: 7% 0% 7% 5%;
}
.downloadapp{
	border: 1px solid black;
	background-color: black;
	color: white;
	width: 53%;
	border-radius: 25px;
	margin-top: 7%;
	padding: 1%;
	text-align: center;
}
.heading2{
	font-size: 45px;
	margin-top: 4%;
}
.recharge{
	font-size: 18px;
}
.downloadapp:hover{
	background-color: white;
	color: black;
}
.icons i{
	margin-left: 4%;
}
.sec3{
	background-color: #00bbf2;
	padding: 5%;
	font-family: 'Poppins', sans-serif;
}
.sec3 h1{
	color: white;
	font-size: 40px;
	margin-bottom: 5%;
}
.sec3div{
	display: flex;
	justify-content: space-between;
}
.sec3div a{
	text-decoration: none;
	color: black;
}
.sec3 a:hover{
	background-color: #00adf2;
	border-radius: 15px;
}
.sec3div p{
	color: white;
}
.sec3div img{
	margin-bottom: 10%;
}
.sec4{
	background-color: #043E7D;
	padding: 5%;
	font-family: 'Poppins', sans-serif;
}
.sec4 h1{
	font-size: 40px;
	color: white;
	margin-bottom: 5%;
}
.sec4 a:hover{
	background-color: #02386e;
	border-radius: 15px;
} 
.sec5{
	font-size: 30px;
	background-color: rgba(239, 239, 239, 0.6);
	font-family: 'Poppins', sans-serif;
	margin-top: 7%;
	padding: 7%;
}	
.sec5div1{
	background-color: white;
	display: flex;
	justify-content: space-between;
	padding: 6%;
	border-radius: 10px;
	margin-top: 3%;
}
.div1 h1{
	font-size: 32px;
	margin-bottom: 5%;
}
.div1 p{
	font-size: 15px;
}

.walletlogo{
	display: flex;
	margin-bottom: 6%;
}

.sec5div3{
	background-color: white;
	display: flex;
	justify-content: space-between;
	padding: 6%;
	border-radius: 10px;
	margin-top: 3%;
}
.div3 h1{
	font-size: 30px;
	margin-bottom: 5%;
	margin-top: 7%;
}
.div3 p{
	font-size: 15px;
	margin-bottom: 4%;
}
.div3 a{
	font-size: 16px;
	text-decoration: none;
	color: white;
	background-color: #02386e;
	border-radius: 25px;
	padding: 2% 7% 2% 7%;
}
.div3 a:hover{
	background-color:  #00bbf2;
}
.sec5div4{
	display: flex;
	border: 1px solid white;
}
.div411 a{
	text-decoration: none;
	color: black;
}
.div41{
	background-color: white;
	margin-top: 4%;
	margin-right: 4%;
	padding: 6%;
	padding-bottom: 0%;
}
.div41 h1{
	font-size: 30px;
	margin-top: 3%;
}
.div41 p{
	font-size: 15px;
	margin-top: 4%;
}
.div42{
	background-color: white;
	margin-top: 4%;
	padding: 6%;
	padding-bottom: 0%;
}
.div42 h1{
	font-size: 30px;
	margin-top: 3%;
}
.div42 p{
	font-size: 15px;
	margin-top: 4%;
}
.div422 a{
	text-decoration: none;
	color: black;
}
.sbilogo{
	margin-top: 3%;
}
.sec6{
	font-family: 'Poppins', sans-serif;
}
.sec6div{
	margin-left: 5%;
	margin-right: 4%;
	margin-bottom: 6%;
	display: flex;
	justify-content: space-between;
}
.paytm{
	font-size: 43px;
	margin-top: 8%;
	margin-bottom: 4%;
	margin-left: 5%;
}
.bank{
	font-size: 35px;
	margin-top: 9%;
	margin-bottom: 7%;
}
.div61 p{
	margin-bottom: 8%;
	font-size: 20px;
}
.div61 a{
	background-color: #02386e;
	text-decoration: none;
	color: white;
	border-radius: 25px;
	padding: 2% 7% 2% 7%;
}
.div61 a:hover{
	background-color: #00adf2;
	border-radius: 15px;
}
.sec7{
	background-color: rgba(239, 239, 239, 0.6);
	background-image: url("images/sec7bgimg.PNG");
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: scroll;
	background-size: 100%;
	font-family: 'Poppins', sans-serif;
}
.sec7div{
	display: flex;
	justify-content: space-between;
	padding: 6% 3%;
}
.sec7div h1{
	font-size: 35px;
	margin-top: 9%;
	margin-bottom: 5%;
}
.div71 p{
	margin-bottom: 8%;
	font-size: 20px;
}
.div71 a{
	background-color: #02386e;
	text-decoration: none;
	color: white;
	border-radius: 25px;
	padding: 2% 7% 2% 7%;
}
.div71 a:hover{
	background-color: #00adf2;
	border-radius: 15px;
}
.sec8{
	font-family: 'Poppins', sans-serif;
}
.sec8div{
	margin-left: 5%;
	margin-right: 4%;
	margin-bottom: 6%;
	margin-top: 7%;
	display: flex;
	justify-content: space-between;
}
.div81 h1{
	font-size: 35px;
	margin-top: 7%;
	margin-bottom: 5%;
}
.div81 p{
	margin-bottom: 8%;
	font-size: 20px;
}
.div81 a{
	background-color: #02386e;
	text-decoration: none;
	color: white;
	border-radius: 25px;
	padding: 2% 7% 2% 7%;
}
.div81 a:hover{
	background-color: #00adf2;
	border-radius: 15px;
}
.sec9{
	background-color: rgba(239, 239, 239, 0.6);
	font-family: 'Poppins', sans-serif;
}
.sec9div{
	display: flex;
	justify-content: space-between;
	padding: 6% 3%;
}
.sec9div h1{
	font-size: 32px;
	margin-top: 9%;
	margin-bottom: 5%;
}
.div91 p{
	margin-bottom: 8%;
	font-size: 17px;
}
.div91 a{
	background-color: #02386e;
	text-decoration: none;
	color: white;
	border-radius: 25px;
	padding: 2% 7% 2% 7%;
}
.div91 a:hover{
	background-color: #00adf2;
	border-radius: 15px;
}
.sec10{
	background-color: white;
	font-family: 'Poppins', sans-serif;
	margin-top: 4%;
	padding: 7%;
	font-size: 30px;
}
.sec10div1{
	background-color: rgba(239, 239, 239, 0.6);
	display: flex;
	justify-content: space-between;
	padding: 6%;
	border-radius: 10px;
	margin-top: 3%;
}
.div101 h1{
	font-size: 30px;
	margin-top: 19%;
	margin-bottom: 5%;
}
.div101 p{
	font-size: 17px;
	margin-bottom: 5%;
}
.div101 a{
	background-color: #02386e;
	text-decoration: none;
	color: white;
	border-radius: 25px;
	padding: 2% 7% 2% 7%;
	font-size: 17px;
}
.div101 a:hover{
	background-color: #00adf2;
	border-radius: 15px;
}
.sec11{
	background-color: white;
	font-family: 'Poppins', sans-serif;
	font-size: 24px;
	margin: 7% 3% 7% 5%;
}
.sec11div{
	display: flex;
	justify-content: space-evenly;
}
.sec11div1 img{
	margin-top: 25%;
}
.sec11div1 h1{
	font-size: 23px;
	margin-top: 9%;
	margin-bottom: 10%;
}
.sec11div1 p{
	font-size: 19px;
	margin-bottom: 1%;
}
.sec11div1 a{
	text-decoration: none;
	font-size: 15px;
	color: black;
	font-weight: bold;
}
.sec12{
	background-color: white;
	font-family: 'Poppins', sans-serif;
	margin-top: 15% 4% 7% 5%;
}
.sec12div{
	display: flex;
	justify-content: space-between;
	padding: 8%;
}
.sec12div1 p{
	font-size: 15px;
	margin-top: 10%;
	margin-bottom: 3%;
}
.sec12div1 a{
	text-decoration: none;
	color: #00bbf2;
}
.sec12div1 a:hover{
	color: black;
}
.sec12div2{
	background-color: skyblue;
	text-decoration: none;
	margin-left: 1%;
	margin-right: 1%;
	text-align: center;
	border-radius: 10px;
}
.sec12div2:hover{
	background-color: #00bbf2;
}
.sec12div2 p{
	color: white;
	margin-top: 2%;
}
.sec12div2 img{
	margin-top: 3%;
}
.sec13{
	background-color: white;
	font-family: 'Poppins', sans-serif;
	margin-top: 15% 4% 7% 5%;
}
.sec13div{
	display: flex;
	justify-content: space-between;
	padding: 8%;
}
.sec13div1 p{
	font-size: 15px;
	margin-top: 10%;
	margin-bottom: 3%;
}
.sec13div1 a{
	text-decoration: none;
	color: #00bbf2;
}
.sec13div1 a:hover{
	color: black;
}
.sec13div2{
	background-color: skyblue;
	text-decoration: none;
	margin-left: 1%;
	margin-right: 1%;
	text-align: center;
	border-radius: 10px;
}
.sec13div2:hover{
	background-color: #00bbf2;
}
.sec13div2 img{
	margin-top: 7%;
}
.sec13p1{
	font-weight: bold;
	font-size: 15px;
	color: white;
	margin-top: 5%;
}
.sec13p2{
	margin-top: 3%;
	font-size: 11px;
	font-weight: bold;
	color: white;
}






@media (max-width: 390px){
	.navbar a{
		font-size: 2px;
	}
	#signin img{
		width: 1%;
	}
	.text{
		font-size: 4px;
	}
	.heading2{
		font-size: 10px;
	}
	.recharge{
		font-size: 4px;
	}
	.downloadapp{
		font-size: 2px;
	}
	.sec3 h1{
		font-size: 13px;
	}
	.sec3div{
		flex-direction: column;
		align-items: center;
	}
	.sec3div a{
		font-size: 8px;
		text-align: center;
	}
	.sec4 h1{
		font-size: 13px;
	}
	.sec4div{
		flex-direction: column;
		align-items: center;
	}
	.sec4div a{
		font-size: 8px;
		text-align: center;
	}
	.sec5 h1{
		font-size: 13px;
	}
	.div1 h1{
		font-size: 9px;
	}
	.div1 p{
		font-size: 2px;
	} 
	.logo{
		font-size: 5px;
	}
	#sec5download{
		font-size: 4px;
		width: 80%;
	}
	#sec51download{
		font-size: 4px;
		width: 100%;
	}
	.div3 h1{
		font-size: 8px;
	}
	.div3 p{
		font-size: 2px;
	}
	.div3 a{
		font-size: 2px;
	}
	.div41 h1{
		font-size: 18px;
	}
	.div41 p{
		font-size: 2px;
	}
	.div42 h1{
		font-size: 8px;
	}
	.div42 p{
		font-size: 2px;
	}
	.sec6 h1{
		font-size: 10px;
	}
	.bank{
		font-size: 7px;
	}
	.div61 p{
		font-size: 3px;
	}
	.div61 a{
		font-size: 3px;
	}
	.div71 h1{
		font-size: 10px;
	}
	.div71 p{
		font-size: 4px;
	}
	.div71 a{
		font-size: 4px;
	}
	.div81 h1{
		font-size: 10px;
	}
	.div81 p{
		font-size: 4px;
	}
	.div81 a{
		font-size: 4px;
	}
	.div91 h1{
		font-size: 10px;
	}
	.div91 p{
		font-size: 4px;
	}
	.div91 a{
		font-size: 4px;
	}
	.sec10 h1{
		font-size: 15px;
	}
	.div101 h1{
		font-size: 9px;
	}
	.div101 p{
		font-size: 2px;
	}
	.div101 a{
		font-size: 2px;
	}
	.sec11 h1{
		font-size: 15px;
	}
	.sec11div {
		flex-direction: column;
		align-items: center;
	}
	.sec11div1 h1{
		font-size: 9px;
	}
	.sec11div1 p{
		font-size: 3px;
	}
	.sec11div1 a{
		font-size: 3px;
	}
	.sec12div1 p{
		font-size: 3px;
	}
	.sec13div1 a{
		font-size: 3px;
	}
}